body {
    font-family: Plus Jakarta Sans, sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* Navigation Bar */

.navbar {
    height: 5rem;
    background-color: #f8f9fa;
}

.fa-compass {
    color: #0d6efd;
    font-size: 1.5rem;
}

.nav-link {
    color: #222222 !important;
}

/* Footer Styles */

.f-info-links a {
    text-decoration: none;
    color: #222222;
    padding: 0.5rem;
}

.f-info-links a:hover {
    text-decoration: underline;
    color: #222222;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.f-info-socials, .f-info-links {
    width: 100%;
}

.f-info-socials i {
    font-size: 1.2rem;
    color: #222222;
    margin: 0 1rem;
}

/* Cards */

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    height: 20rem !important;
    object-fit: cover !important;
}

.card-body {
    padding-left: 0.5 !important;
    padding-right: 0.5 !important;
    padding-top: 0.5 !important;
    padding-bottom: 0 !important;
}

.card-text p {
    font-weight: 400;
}

/* Card Effects */

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* buttons */
.add-btn, .edit-btn{
    background-color: #0d6efd !important;
    border: none !important;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

/* Preview image */
.edit-preview-img {
    width: 350px;   
    height: 280px;      
    object-fit: cover;  
    border-radius: 4px; 
}

/* Map */
#map { 
    border-radius: 20px;
    height: 400px;
    width: 80vh;
}